#list{
	position:absolute;
	top:37%;
	width:100%;
	margin:0px;	
	margin-bottom:2.3%;
}
#list p{
	font-size:2em;
	position:relative;
	padding:0.3% 0% 0.3% 0%;
	text-align:center;
	font-weight:bold;
	text-shadow:1px 1px 1px red;
}
#list ul{
	position:relative;
	left:2%;
	padding:0%;
	padding-top:1%;
	column-count:4;
	-webkit-column-count:4;
	-moz-column-count:4;
	width:95%;
	margin:0px;
}
#list li{
	list-style-type:none;
	padding:5%;
	font-size:1.3em;
	display:inline-block;
}
#list li a{
	text-decoration:none;
	color:black;
	font-weight:bold;
}
#list li a:hover{
	text-decoration:underline;
}
#list li #download{
	text-shadow:1px 1px 0px red;
}
/*#list img{
	float:right;
}*/
#list1{
	position:absolute;
	top:37%;
	width:100%;
	margin:0px;	
	margin-bottom:2.3%;
}
#list1 p{
	font-size:2em;
	position:relative;
	padding:0.3% 0% 0.3% 0%;
	text-align:center;
	font-weight:bold;
	text-shadow:1px 1px 1px red;
}
#list1 ul{
	position:relative;
	left:2%;
	padding:0%;
	padding-top:1%;
	column-count:4;
	-webkit-column-count:4;
	-moz-column-count:4;
	width:95%;
	margin:0px;
}
#list1 li{
	list-style-type:none;
	padding:5%;
	font-size:1.3em;
	display:inline-block;
}
#list1 li a{
	text-decoration:none;
	color:black;
	font-weight:bold;
}
#list1 li a:hover{
	text-decoration:underline;
}
.video{
	position:absolute;
	left:17%;
	top:50%;
	padding-bottom:2%;
}
span{
	text-decoration:underline;
}
/*h2{
	position:relative;
	left:5%;
	padding:1.5%;
	padding-bottom:0%;
}
h4{
	position:absolute;
	bottom:1%;
	left:30%;
	margin:0px;
	padding:0px;
	text-align:center;
}
h5{
	position:absolute;
	text-align:center;
	left:42%;
	bottom:5%;
	font-size:0.97em;
	margin:0px;
	padding:0px;
}*/
h3{
	position:relative;
	padding:0.5%;
	text-align:center;
}
#watchmovie{
	position:relative;
	bottom:0px;
	left:0px;
	margin:0px;
	text-align:center;
}
#list #poster{
	width:80px;
	height:80px;
	position:absolute;
	right:14%;
}

@media screen and (max-width:700px){
	/*mobile*/
	#list1 ul{
		column-count:2;
		-webkit-column-count:2;
		-moz-column-count:2;
	}
	#list ul{
		column-count:1;
		-webkit-column-count:1;
		-moz-column-count:1;
	}
	#list{
		top:29%;
	}
	#list li{
		padding:3% 0% 3% 0%;
		display:block;
	}
	#list1{
		top:29%;
	}
	h4,h5,#list #poster{
		display:none;
	}

}
@media screen and (min-width:700px) and (max-width:960px){
	/*meduim sized*/
	#list{
		top:29%;
	}
	#list1{
		top:29%;
	}
	#list ul{
		column-count:2;
		-webkit-column-count:2;
		-moz-column-count:2;
	}
	#list1 ul{
		column-count:3;
		-webkit-column-count:3;
		-moz-column-count:3;
	}
	h4,h5{
		display:none;
	}
	#list #poster{
		right:5%;
	}
}