*{								/* this style is applied to all the elements*/
	margin:0px;
	padding:0px;
}
body{
	font:100%;
	width:100%;
}
#preloader-wrapper{
	position:fixed;
	z-index:1000;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	background-color:black;
}
#preloader-wrapper img{
	position: fixed;
	top: 22%;
	left: 40%;
	margin:auto;			/*this gives equal margin from left and right side*/				
}
#preloader-wrapper p{
	color:white;
	font-weight:bold;
	font-size:1.9em;
	position:fixed;
	top:79%;
	left:41%;
	margin:auto;
}
#preloader{
	z-index:1000;
	opacity:0.8;
	border:12px solid #f3f3f3;
	border-top:12px solid red;
	border-radius:50%;
	height:350px;
	width:350px;
	animation:spinloader 3s ease infinite;
	
	position: fixed;
	top: 18%;
	left: 35%;
	margin:auto;
}
@keyframes spinloader{
	0%{ transform:rotate(0deg); }
	100%{ transform:rotate(360deg); }
}

#heading{
	background-color:#c70000;
	position:absolute;
	width:100%;
	height:34%;

}
#heading h1{
	text-align:center;
	font-weight:bold;
	font-size:5em;
	padding:2%;
	padding-bottom:3%;
	color:white;
	text-shadow:4px 4px 2px black;
	position:relative;
	top:11%;
}
#heading img{
	
	position:absolute;
	top:0px;
	right:0px;
	left:0px;
	height:81%;
	width:22%;
}
#navbar ul{
	background-color:black;
	opacity:0.8;
	position:absolute;
	right:0px;
	left:0px;
	bottom:0%;
	color:white;
	list-style-type:none;
	padding:0.6% 0% 0.6% 0%;
	text-align:center;
	margin:0px;
}
#navbar li{
	display:inline;
	padding:0% 2.3% 0% 2.3%;
	font-size:1.5625em;
	margin:0px;
}
#navbar li a{
	color:white;
	text-decoration:none;
	padding:0.8% 0.8% 0% 0.8%;
}
#navbar li a:hover{
	background-color:#666666;
	margin:0px;
	padding:0.6% 0.8% 0.6% 0.8%;
}
#navbar li a:active{
	background-color:#333333;
	margin:0px;
	padding:0.6% 0.8% 0.6% 0.8%;
}

#boxes{
	position:absolute;
	top:48%;
	width:100%;
	height:40%;
	text-align:center;
}
.boxes{
	border:1px solid red;
	display:inline-block;
	height:100%;
	width:20%;
	margin:0% 4% 0% 4%;
	background-color:#bb0101;
}
#boxes a{
	text-decoration:none;
	padding-bottom:2%;
	font-size:3.5em;
	color:white;
	text-shadow:3px 3px 2px black;
	position:relative;
	top:35%;
}
#boxes a:hover{
	border-bottom:3px solid white;
}
#left,#right{
	position:absolute;
	height:66%;
	width:18%;
	bottom:0px;
}
#right{
	right:0px;
}