*{								/* this style is applied to all the elements*/
	margin:0px;
	padding:0px;
}
body{
	font:100%;
	width:100%;
}
#preloader-wrapper{
	position:fixed;
	z-index:1000;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	background-color:black;
}
#preloader-wrapper img{
	position: fixed;
	top: 22%;
	left: 40%;
	margin:auto;		/*this gives equal margin from left and right side*/				
}
#preloader-wrapper p{
	color:white;
	font-weight:bold;
	font-size:1.9em;
	position:fixed;
	top:79%;
	left:41%;
	margin:auto;
}
#preloader{
	z-index:1000;
	opacity:0.8;
	border:12px solid #f3f3f3;
	border-top:12px solid red;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	height:350px;
	width:350px;
	animation:spinloader 3s ease infinite;
	-webkit-animation:spinloader 3s ease infinite;
	-moz-animation:spinloader 3s ease infinite;
	-o-animation:spinloader 3s ease infinite;

	position: fixed;
	top: 18%;
	left: 35%;
	margin:auto;
}
@keyframes spinloader{
	0%{ transform:rotate(0deg); }
	100%{ transform:rotate(360deg); }
}

@-webkit-keyframes spinloader{
	0%{ -webkit-transform:rotate(0deg); }
	100%{ -webkit-transform:rotate(360deg); }
}
@-moz-keyframes spinloader{
	0%{ -moz-transform:rotate(0deg); }
	100%{ -moz-transform:rotate(360deg); }
}
@-o-keyframes spinloader{
	0%{ -o-transform:rotate(0deg); }
	100%{ -o-transform:rotate(360deg); }
}

#heading{
	background-color:#c70000;
	position:absolute;
	width:100%;
	height:34%;

}
#heading h1{
	text-align:center;
	font-weight:bold;
	font-size:5em;
	padding:2%;
	padding-bottom:3%;
	color:white;
	text-shadow:4px 4px 2px black;
	position:relative;
	top:11%;
}
#heading img{
	
	position:absolute;
	top:0px;
	right:0px;
	left:0px;
	height:81%;
	width:22%;
}
#navbar ul{
	background-color:black;
	opacity:0.8;
	position:absolute;
	right:0px;
	left:0px;
	bottom:0%;
	color:white;
	list-style-type:none;
	padding:0.6% 0% 0.6% 0%;
	text-align:center;
	margin:0px;
}
#navbar li{
	display:inline;
	padding:0% 2.3% 0% 2.3%;
	font-size:1.5625em;
	margin:0px;
}
#navbar li a{
	color:white;
	text-decoration:none;
	padding:0.8% 0.8% 0% 0.8%;
}
#navbar li a:hover{
	background-color:#666666;
	margin:0px;
	padding:0.6% 0.8% 0.6% 0.8%;
}
#navbar li a:active{
	background-color:#333333;
	margin:0px;
	padding:0.6% 0.8% 0.6% 0.8%;
}

#boxes{
	position:absolute;
	top:48%;
	width:100%;
	height:40%;
	text-align:center;
}
.boxes{
	border:1px solid red;
	display:inline-block;
	height:100%;
	width:20%;
	margin:0% 4% 0% 4%;
	background-color:#bb0101;
}
#boxes a{
	text-decoration:none;
	padding-bottom:2%;
	font-size:3.5em;
	color:white;
	text-shadow:3px 3px 2px black;
	position:relative;
	top:35%;
}
#boxes a:hover{
	border-bottom:3px solid white;
}
#left,#right{
	position:absolute;
	height:66%;
	width:18%;
	bottom:0px;
}
#right{
	right:0px;
}

@media screen and (max-width:700px){
	/*mobile*/
	body{
		font-size:65%;
	}
	#preloader-wrapper img{
		top: 22%;
		left: 28%;	
		width:140px;
		height:140px;
	}
	#preloader-wrapper p{
		font-size:1.4em;
		top:74%;
		left:35%;
	}
	#preloader{
		height:200px;
		width:200px;
		top: 18%;
		left: 15%;
	}
	#heading{
		height:25%;
	}
	#heading h1{
		font-size:3.7em;
		top:11%;
		left:10%;
	}
	#boxes{
		top:35%;
		left:26%;
		height:25%;
	}
	.boxes{
		display:block;
		width:40%;
		margin:0% 4% 5% 4%;
	}
	#boxes a{
		top:33%;
	}
	#left,#right{
		display:none;
	}
}

@media screen and (min-width:700px) and (max-width:960px){
	/*meduim sized*/
	body{
		font-size:80%;
	}
	#preloader-wrapper img{
		top:22%;
		left: 38%;	
		width:200px;
		height:200px;				
	}
	#preloader{
		height:270px;
		width:270px;
		top: 17%;
		left: 33%;
	}
	#heading{
		height:27%;
	}
	#heading h1{
		top:15%;
		left:10%;
	}
	#heading img{
		height:86%;
		width:31%;
}
	#boxes{
		top:35%;
		left:30%;
		height:27%;
	}
	.boxes{
		display:block;
		width:32%;
		margin:0% 4% 5% 4%;
	}
	#boxes a{
		top:33%;
	}
	#left,#right{
		height:73%;
		width:26%;
	}
}
